* {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

.header1 {
  font-size: 5.2rem;
}

.header2 {
  font-size: 4.4rem;
}

.header3 {
  font-size: 4rem;
}

.header4 {
  font-size: 3.2rem;
}

.p1 {
  font-size: 2rem;
  line-height: 1.6;
}

.p-nav-main {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.6;
}

.p-footer {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.6;
  color: rgb(169, 169, 169);
}

@media (max-width: 75rem) {
  .header1 {
    font-size: 4.4rem;
  }
}

@media (max-width: 59rem) {
  .p-nav-main {
    font-size: 3rem;
  }
}
