/* Small desktops */
/* Below 944px - Portrait Oriented Tablets*/
/* Calculation: 940px / 16px */
@media (max-width: 84rem) {
  /* .hero {
    max-width: 120em;
  } */
}

/* Below 944px - Portrait Oriented Tablets*/
/* Calculation: 940px / 16px */
@media (max-width: 75rem) {
  html {
    /* font-size: 9px / 16px */
    font-size: 56.25%;
  }
}

/* Below 944px - Portrait Oriented Tablets*/
/* Calculation: 940px / 16px */
@media (max-width: 59em) {
  html {
    /* font-size: 8px / 16px */
    font-size: 50%;
  }
}

/* Below 550px - Mobile Phones*/
/* Calculation: 550px / 16px */
@media (max-width: 34em) {
}
